<ion-header class="ion-no-border" translucent="true">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="logout()"> logout</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div id="profile" *ngIf="user">
        <ion-item lines="none">
            <ion-avatar *ngIf="!user.frontId" slot="start">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px"
                     height="48px" viewBox="0 0 24 24" version="1.1">
                    <g *ngIf="user.frontId&&user.backId else elseIcon" stroke="none" stroke-width="1" fill="none"
                       fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"/>
                        <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                              fill="var(--ion-color-success)" opacity="0.3"/>
                        <path d="M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z"
                              fill="var(--ion-color-success)"/>
                    </g>
                    <ng-template #elseIcon>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"/>
                            <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                                  fill="var(--ion-color-danger)" opacity="0.3"/>
                            <path d="M10.5857864,12 L9.17157288,10.5857864 C8.78104858,10.1952621 8.78104858,9.56209717 9.17157288,9.17157288 C9.56209717,8.78104858 10.1952621,8.78104858 10.5857864,9.17157288 L12,10.5857864 L13.4142136,9.17157288 C13.8047379,8.78104858 14.4379028,8.78104858 14.8284271,9.17157288 C15.2189514,9.56209717 15.2189514,10.1952621 14.8284271,10.5857864 L13.4142136,12 L14.8284271,13.4142136 C15.2189514,13.8047379 15.2189514,14.4379028 14.8284271,14.8284271 C14.4379028,15.2189514 13.8047379,15.2189514 13.4142136,14.8284271 L12,13.4142136 L10.5857864,14.8284271 C10.1952621,15.2189514 9.56209717,15.2189514 9.17157288,14.8284271 C8.78104858,14.4379028 8.78104858,13.8047379 9.17157288,13.4142136 L10.5857864,12 Z"
                                  fill="var(--ion-color-danger)"/>
                        </g>
                    </ng-template>
                </svg>
            </ion-avatar>
            <ion-avatar slot="start" *ngIf="user.frontId">
                <img src="{{profileImg}}"/>
            </ion-avatar>
            <ion-label>
                <h1>{{user.name}}</h1>
                <p>{{user.email}}</p>
            </ion-label>
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <ion-card *ngIf="!user.frontId">
            <ion-item (click)="changeProfileOption(1)">
                <ion-icon slot="end" src="assets/images/f-cart.svg" size="large" color="ligth"></ion-icon>
                <ion-label>
                    <h3>Click to add Front of your Id Card</h3>
                    <p>Status:Pending</p>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="!user.backId ">
            <ion-item (click)="changeProfileOption(2)">
                <ion-icon slot="end" src="assets/images/b-cart.svg" size="large" color="ligth"></ion-icon>
                <ion-label color="danger">
                    <h3>Click to add Back of your Id Card</h3>
                    <p>Status:Pending</p>
                </ion-label>
            </ion-item>
        </ion-card>


        <ion-grid *ngIf="user.backId">
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>MRZ</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">
                    <p style="word-break: break-all;">{{user.backId.MRZ}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Document type</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.document_type}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Country</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.country}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Last name</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.last_name}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>First name</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.first_name}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Document no</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.document_no}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Document checknumber</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.document_checknumber}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Correct document checknumber</code></ion-col>
                <ion-col
                        style="vertical-align: middle;width: 50%;">{{user.backId.correct_document_checknumber}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Nationality</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.nationality}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Date of birth</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.date_of_birth}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Birth checknumber</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.birth_checknumber}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Correct birth checknumber</code></ion-col>
                <ion-col
                        style="vertical-align: middle;width: 50%;">{{user.backId.correct_birth_checknumber}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Sex</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.sex}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Date of expiry</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.date_of_expiry}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Expiry checknumber </code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.expiry_checknumber}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Correct expiry checknumber</code></ion-col>
                <ion-col
                        style="vertical-align: middle;width: 50%;">{{user.backId.correct_expiry_checknumber}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Other id</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.other_id}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Other id checknumber</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.other_id_checknumber}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Second row checknumber</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.second_row_checknumber}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Correct second row checknumber</code>
                </ion-col>
                <ion-col
                        style="vertical-align: middle;width: 50%;">{{user.backId.correct_second_row_checknumber}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Flag</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.flag}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Result</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.result}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="vertical-align: middle;width: 50%;"><code>Details</code></ion-col>
                <ion-col style="vertical-align: middle;width: 50%;">{{user.backId.details}}</ion-col>
            </ion-row>
        </ion-grid>

    </div>


</ion-content>
